.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    text-align: center;
    background-color: #F3E9F1;
    font-family: 'Open Sans', sans-serif;
}
.contenu {
    width: 100%;
}
.choixOptions {    
    width: 200px;
    margin: auto;
}
.choixObjectifs {
    margin-bottom: 80px;
}
header {
    font-family: 'roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}
nav a {
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    border-bottom: 2px black solid;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
}
nav li {
    margin-right: 15px;
}
.produitCamera {
    margin-bottom: 80px;
}
.produit {
    margin: auto;
}
label {
display: flex;
flex-direction: column;
}
.carteProduit {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}
.libelle {
    display: flex;
    flex-direction: row;
  justify-content: flex-start; 
}
h1 {
    font-family: 'Roboto', sans-serif;
}
h2, p {
  margin: 0;
}
.libelle-nom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.imagePanier {
    width: 200px;
    height: 150px; 
}
.nomModele {
    display: flex;
    flex-direction: column;  
}
.prixTotal {
    text-align: left;
}
#prix-total-final{
    font-size: 1.5rem;
    text-align: center;
    background-color: cadetblue;
    font-weight: bold;
}
#boutonInit {
    height: 40px;
    width: 60px;
    margin-top: 30px;
}
.recapitulatif {
    text-align: left;
    margin: 30px auto;
    border: 2px black solid
}
.cout {
    font-weight: normal;
}
.remerciements {
    font-size: 1.4rem;
}