.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
   text-align: center;
  /*  border: 2px black solid;*/
   background-color: #F3E9F1;
   font-family: 'Open Sans', sans-serif;
}
.contenu {
    width: 100%;
  /*  border: 2px black solid;*/
}
.cameraDetail {  
 /* border: 2px green solid;*/
}
.choixOptions {    
    width: 200px;
   /* border: 1px blue solid;  */
   margin: auto;
}
.choixObjectifs {
    margin-bottom: 80px;
}
header {
   /* border: 2px black solid;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}
nav a {
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    border-bottom: 2px black solid;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
}
nav li {
    margin-right: 15px;
}
.produitCamera {
    margin-bottom: 80px;
}
img {  
 /* border: 1px blue solid;*/
}

#listeProduits {
  /* border: 2px red solid;  */
}
.produit {
    margin: auto;
}
label {
display: flex;
flex-direction: column;
}
.contenu-panier {
    border: 2px red solid;
}
.carteProduit {
    border: blue 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}
.libelle {
    display: flex;
    flex-direction: row;
  justify-content: flex-start;
    border: 2px green solid;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
h2, p {
  margin: 0;
}
.libelle-nom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border: 5px orange solid;
}
.imagePanier {
    border: 2px red solid;
    width: 200px;
    height: 150px; 
}
.nomModele {
    display: flex;
    flex-direction: column;
    border: 2px blue solid;
}
.lentillesModele, .descriptionModele, .prixModele {
  /*  margin: 0 20px;*/
}
.prixTotal {
    text-align: left;
}
#prix-total-final{
    font-size: 1.5rem;
    text-align: center;
    background-color: cadetblue;
}
#boutonInit {
    height: 40px;
    width: 60px;
}
